@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'marsha';
    src: url("../styles/fonts/marsha_belle_demo_version-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dosis';
    src: url("../styles/fonts/dosis.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("../styles/fonts/playfairdisplay.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.apple {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
}